Django==5.*
mysqlclient==2.*
requests==2.*
simplejson==3.*
mybatis_mapper2sql==0.*
django-auth-ldap==5.*
python-dateutil==2.*
pymongo==4.*
psycopg2-binary==2.*
pymysql==1.*
mysql-replication==1.*
django-q2==1.*
django-redis==6.*
redis==7.*
pyodbc==5.*
gunicorn==23.*
pyecharts==2.*
aliyun-python-sdk-rds==2.*
cx-Oracle==8.*
supervisor==4.*
phoenixdb==1.*
django-mirage-field==1.*
schema-sync==0.*
parsedatetime==2.*
sshtunnel==0.*
pycryptodome==3.*
pyodps==0.*
numpy==2.*
pandas==2.*
clickhouse-driver==0.*
djangorestframework==3.*
djangorestframework-simplejwt==5.*
django-filter==25.*
drf-spectacular==0.*
pyotp==2.*
pillow==12.*
qrcode==8.*
alibabacloud_dysmsapi20170525==4.*
tencentcloud-sdk-python==3.*
mozilla-django-oidc==4.*
django-auth-dingding==0.*
django-cas-ng==5.*
cassandra-driver
httpx
OpenAI
elasticsearch==8.*
opensearch_py==3.*
django_storages==1.*
boto3
azure_storage_blob==12.*
openpyxl==3.*
parameterized
pymemcache==4.*
